[Unit]
Description=SMB Share Mount
Requires=network-online.target
After=network-online.target

[Mount]
What=//nas01.henrymillerfrazier.lan/data
Where=/var/mnt/containers_data
Type=cifs
Options=vers=2.0,credentials=/var/opt/smb.cred

[Install]
WantedBy=multi-user.target